<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Crypto News of the day</h1>

    <div data-th-each="c : ${cypto}">
        <table>
            <tr>
                <td>
                    <strong data-th-text="${c.fsym}"></strong>
                    - 
                    <span data-th-text="${c.tsyms}"></span>
                </td>
            </tr>
        </table>

    </div>
    
</body>
</html>